################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Stationery/FileContentIndex/3a1c81d3-876d-420f-932f-eeba3d29878d.vsidx
/.vs/Stationery/FileContentIndex/62e9405a-2fb6-4d69-8c1f-9d0c23bad60a.vsidx
/.vs/Stationery/FileContentIndex/6dff6ab5-9c0c-46ae-bc7c-0f5092b5321f.vsidx
/.vs/Stationery/FileContentIndex/a44b9369-81cc-4a7b-b22b-f021a130002c.vsidx
/.vs/Stationery/FileContentIndex/fc308be8-4a09-4b05-bfa0-e326af59f8ad.vsidx
